<h3>Students</h3>
<h1>
  <%= @student.first_last %>
</h1>

<p>
  <b>Affiliation:</b>
  <%= @student.affiliation %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', students_path %>
