<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <% @roles.each do |role| %>
      <tr><td align="right"><%= f.label :role_id, role.name %></td>
      <td><%= f.radio_button :role_id, role.id %></td></tr>
    <% end %>
  </table>

  <div class="actions">
    <%= f.submit 'Select Profile' %>
  </div>
<% end %>
