<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.all.map { |user| [user.email, user.id] } %>
  </div>
  <div class="field">
    <%= f.label :profile_id %><br />
    <%= f.select :profile_id, Member.all.map { |member| [member.name, member.id] } %>
  </div>
  <div class="field">
    <%= f.label :profile_type %><br />
    <%= f.text_field :profile_type, :value => 'Member' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
