<h1>Listing roles</h1>

<table>
  <tr>
    <th>Profile</th>
    <th>Profile type</th>
    <th></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= link_to role.profile.name, role.profile %></td>
    <td><%= role.profile_type %></td>
    <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

Create a new profile:
<ul>
  <% if can? :create, Admin %>
    <li><%= link_to 'Create New Admin Profile', new_admin_path %></li>
  <% end %>
  <li><%= link_to 'Create New Member Profile', new_member_path %></li>
  <li><%= link_to 'Create New student Profile', new_student_path %></li>
</ul>
