<h1>News</h1>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p>
    <%= post.author %> at <%= post.published_at %>:
  </p>
  <div class="post-short">
    <%= markdown post.body %>
    <%= link_to '[more...]', post %>
  </div>
<% end %>

<br />

<% if user_signed_in? %>
  <% role = current_user.role %>
  <% if role %>
    <%= link_to 'New Post', new_post_path(:role_id => role) %>
  <% end %>
<% end %>
