<!DOCTYPE html>
<html>
<head>
  <title>DeBrun</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']],
        processEscapes: true
      }
    });
  </script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
</head>
<body>
<div id="logo">
<%= image_tag "rubiks.png", :size => "50x50" %>
<%= image_tag "logo.png", :size => "120x50" %>
</div>
<div id="company-logo">
<%= image_tag "nuiglogo.png" %>
</div>
<div id="subtitle">De Brún Centre for</div>
<div id="banner">
<%= link_to 'Mathematics', root_path %>
</div>
<div id="navigation">
<div id="home"> 
  <% if user_signed_in? %>
    <% role = current_user.role %>
    <% if role %>
      <%= link_to 'Home', role.profile %> |
      <%= link_to 'News', posts_path(:role_id => role) %> |
    <% end %>
  <% end %>
<%= link_to 'Members', members_path %> |
<%= link_to 'Students', students_path %>
</div>
<div id="login">
  <% if user_signed_in? %>
    <% role = current_user.role %>
    <% if role %>
      <%= link_to role.profile_type, edit_user_path(current_user) %> |
    <% end %>
    <%= link_to current_user.email, edit_user_registration_path %> |
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :confirm => "Sign out?" %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</div>
</div>
<div id="date" align="right" style="font-size: smaller;">
<%= Time.now.strftime("Page created on %A, %B %-d, %Y at %H:%M:%S.") %>
</div>
<div id="columns">
<div id="side">
<%= yield :side %>
</div>
<div id="container">
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= yield %>

</div>
</div>

</body>
</html>
