<% content_for :side do %>
  <h3>Members</h3>
  <ul><%= render Member.all %></ul>
<% end %>

<h3><%= link_to 'Members', members_path %></h3>

<h1>
  <%= @member.first_last %>
</h1>

<p>
  <b>Affiliation:</b>
  <%= @member.affiliation %>
</p>

<% if can? :edit, @member %>
  <%= link_to 'Edit', edit_member_path(@member) %> 
<% end %>
<% if can? :destroy, @member %>
| <%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<hr />
<% if @member.iris_url.present? %>
<p>
  <b>Profile</b> on
  <%= link_to 'Iris', @member.full_iris_url %>:
</p>

<% @member.iris_content.each do |div| %>
  <%= content_tag :h2, div.attributes["title"].value %>
  <%= raw div %>
<% end %>
<hr />
<% end %>
