<h3>Members</h3>

<h1>
  <%= @member.first_last %>
</h1>

<p>
  <b>Affiliation:</b>
  <%= @member.affiliation %>
</p>

<% if @member.iris_url.present? %>
<p>
  <b>Link:</b>
  <%= link_to 'Iris', @member.full_iris_url %>
</p>
<% end %>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', members_path %>
